#contactSection {
  background: $backgroundColor;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
  a:hover {
    color: $hover;
  }
}

.contactWrap {
  box-shadow: rgba(0, 0, 0, 0.068) 0px 1px 40px 5px;
  background-color: $backgroundColor2;
  color: $text;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 10;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  img {
    grid-column-start: 8;
    grid-row-start: 5;
    border-radius: 50%;
    margin-top: -1rem;
  }
}

.contactBox {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 2;
  h1 {
    margin-top: 2rem;
    font-size: 1.8em;
    font-weight: 200;
  }
}

.contactInfo {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  p {
    font-size: 1.3em;
  }
  a {
    text-decoration: none;
    color: $link;
  }
}

.siteByInfo {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 9;
}

//for smaller devices
@media screen and (max-width: 1024px) {
  .contactBox {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .contactInfo {
    p {
      font-size: 2rem;
    }
  }
  .contactWrap {
    img {
      grid-column-start: 7;
      grid-row-start: 8;
      margin-top: -4rem;
      margin-left: -3rem;
    }
  }
}
